# Build files
/target/
*.jar
*.war
*.class

# IDE files
/.idea/
/*.iml
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Maven files
/.mvn/
/settings.xml

# Gradle files
/.gradle/
build/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Environment files
.env
*.env

# IntelliJ project files
*.iws
*.ipr
*.idea/workspace.xml
*.idea/libraries

*temp.ob